---
interface Props {
  id: string;
  title: string;
  author?: string;
}

const { title, author } = Astro.props;
---

<script>
  const backgroundColors = ["blanchedalmond", "aliceblue", "aqua", "blanchedalmond"];
  const handleChangeStyle = (event: Event, item: HTMLDivElement) => {
    event.stopPropagation();
    item.style.backgroundColor = backgroundColors[Math.floor(Math.random() * 3)];
  };

  document.querySelectorAll("div.quote-container").forEach((item: Element) => {
    item.addEventListener("click", (event: Event) => handleChangeStyle(event, item as HTMLDivElement));
  });
</script>

<div class="quote-container">
  <h2>
    {title}
  </h2>
  <div class="author">
    {author}
  </div>
  <slot />
</div>
<style scoped lang="scss">
  .quote-container {
    @apply text-black border text-base px-3 py-2;
    .author {
      @apply italic;
    }
  }
</style>
